---
import HelloWorld from "@/components/HelloWorld.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sesion 3</title>
	</head>
	<body class="bg-primaryBlue">
		<h1 class="text-primaryYellow">Samuel Dzib López</h1>
		<HelloWorld />
	</body>
</html>
